body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0%;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    padding-left: 25px;
}

nav ul a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 0 45px 0 45px;
}

body {
    color: rgb(29, 29, 31);
}

.logo {
    width: 35px;
    height: 35px;
    display: inline;
    margin: 7px 30px 0 30px;
}

.cuerpo {
    justify-content: center;
    text-align: center;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}

.parr2{
    color: orangered;
}

.tit1 {
    font-size: 90px;
    margin-top: -10px;
}

.tit2 {
    font-size: 30px;
    margin-top: -65px;
}

.parr3 {
    font-size: 20px;
    margin-top: -30px;
}

.bot1 {
    color: white;
    background-color: rgb(0, 113, 227);
    border-style: none;
    border-radius: 40px;
    padding: 12px 20px 12px 20px;
    font-size: 20px;
}

.masinfo {
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(0, 113, 227);
}

.img1 {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 80%;
    height: 80%;
    padding-bottom: 80px;
}

.bloques {
    display: flex;
    justify-content: center;
}

.bloq1 {
    width: 600px;
    height: 700px;
    background-color: rgb(242, 242, 242);
    text-align: center;
    align-content: center;
    margin: 0 15px 0 0;
    position: relative;
    overflow: hidden;   
}

.bloq2 {
    width: 640px;
    height: 700px;
    background-color: rgb(242, 242, 242);
    text-align: center;
    align-content: center;
    margin: 0 0 0 15px;
    position:relative;
}

.h4bloq {
    font-size: 25px;
}

.h2bloq {
    font-size: 35px;
    padding: 0 150px 0 150px;
    margin-top: -25px;
}

.cambio {
    padding: 0 100px 0 100px;
}

.tools {
    display: block;
    position: absolute;

    max-height: 330px;
    bottom:0px;
    left: -175px;
}

.laptop {
    display: block;
    position: absolute;
    overflow: hidden;
    max-height: 330px;
    bottom:0px;
    left: 40px;
}


.entrega {
    text-align: center;
    margin-top: 100px;
}

.ultexto {
    font-size: 23px;
    margin-bottom: -12px;
}

.negrita {
    font-weight: bold;
}

footer {
    margin-top: 80px;
    background-color: rgb(245, 245, 247);
    padding: 10px 0 30px 150px;
    color: rgb(81, 81, 84);
    font-size: 14px;
}

span {
    display: inline;
    border-left: 1px solid rgb(81, 81, 84);
    padding: 0 16px 0 10px;
    margin-left: -10px;
}

span:first-child {
    border-left: none;
}

span a {
    text-decoration: none;
    color: rgb(81, 81, 84);
}




